#CA files
# CA’s private key (secret, keep safe).
ca.key
# CA’s public certificate (share with clients like the CLI, use with their --cert arg).
ca.crt
#Server Files:
# Server’s private key (secret, pass to server with --key).
server.key
# Server’s public certificate (signed by ca.crt, pass to server with --cert).
server.crt
# Server’s self-signed public certificate (pass to server(and clients) with --cert).
serverSS.crt
# Temporary CSR (can delete after signing).
server.csr
# Serial number file (optional, for CA tracking).
ca.srl

#temp:
server.key2
server.crt2

*.key
*.crt
*.csr
*.srl
